<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<!-- cfg target /Service class -->
  <bean id="bankService"  class="com.nt.service.BankService"/>
  
  <!-- cfg Advice class -->
  <bean id="loanAdvice"  class="com.nt.advice.LoanApprovalAdvice"/>
  
  <!-- Enable AOP configurations -->
  <aop:config>
    <!-- Prepare Pointcut expression -->
   <!-- <aop:pointcut expression="execution(String com.nt.service.BankService.approveLoan(..)) and args(loanId,manager,amount)" id="ptc"/> -->
   <!-- <aop:pointcut expression="execution(String com.nt.service.BankService.approveLoan(..))" id="ptc"/> --> 
   <aop:pointcut expression="execution(String com.nt.service.BankService.approveLoan(..)) and args(loanId,manager,amount)" id="ptc"/> 
   
    <!-- make spring bean as Aspect -->
    <aop:aspect  ref="loanAdvice">
       <aop:before method="audit" pointcut-ref="ptc"/>
    </aop:aspect>
  </aop:config>
  

</beans>
